<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div id="Holder">
  <% @movies.each do |movie| %>
    <div class="Movie">
      <div><%= movie.title %></div>
      <div><img src = <%= movie.poster %> ></div>
      <div>
        <% movie.genres.each do |genre| %>
          <%= genre.name %>
        <% end %>
      </div>
      <div><%= movie.release_on.strftime('%b %d %Y') %></div>
      <div><%= link_to 'Show', movie %></div>
    </div>
  <% end %>
</div>

